---
import "../styles/media.css";
import individual from "../../public/individual.jpg"
import grupo from "../../public/grupo.jpg"
import masaje from "../../public/masaje.jpg"
import menopausia from "../../public/menopausia.png"
import formacion from "../../public/formacion.jpg"
---

<section class="section">
    <div class="global">
        <div class="left-div">
            <h1 class="md-title">Ver las imagenes de las sessiones</h1>
            <p class="md-parraf">It is a long established fact that a reader will be distracted.</p>
            <button class="btn"><a class="w-full h-full" href="https://drive.google.com/drive/folders/1q-NYR4LDQ81le-lJKAWPVJgLfMuvhT1F?usp=drive_link" target="_blank">Ver Galeria</a></button>
        </div>
        <div class="div-img">
            <a href="https://drive.google.com/drive/folders/1q-NYR4LDQ81le-lJKAWPVJgLfMuvhT1F?usp=drive_link" target="_blank">
                <div class="slider-frame">
                  <ul>
                    <li><img src={individual} alt=""></li>
                    <li><img src={masaje} alt=""></li>
                    <li><img src={individual} alt=""></li>
                    <li><img src={masaje} alt=""></li>
                    <li><img src={individual} alt=""></li>
                  </ul>
                </div>
            </a>
        </div>
    </div>
</section>