---
import individual from "../../public/individual.jpg"
import grupo from "../../public/grupo.jpg"
import masaje from "../../public/masaje.jpg"
import menopausia from "../../public/menopausia.png"
import formacion from "../../public/formacion.jpg"
import taller from "../../public/talleres.jpg"
import Card from "../components/serviceCards.astro"
import "../styles/serviceSection.css"
---

<section class="sectionC">
    <div class="cardDiv">
        <Card
            image={individual}
            alt="Sesiones individuales"
            title="Hola"
            description="adeu"
        />
        <Card
            image={grupo}
            alt="Sesiones individuales"
            title="Hola"
            description="adeu"
        />
        <Card
            image={masaje}
            alt="Sesiones individuales"
            title="Hola"
            description="adeu"
        />
        <Card
            image={menopausia}
            alt="Sesiones individuales"
            title="Hola"
            description="adeu"
        />
        <Card
            image={formacion}
            alt="Sesiones individuales"
            title="Hola"
            description="adeu"
        />
        <Card
            image={taller}
            alt="Sesiones individuales"
            title="Hola"
            description="adeu"
        />
    </div>
  </section>
  