---
import individual from "../../public/individual.jpg"
import grupo from "../../public/grupo.jpg"
import masaje from "../../public/masaje.jpg"
import menopausia from "../../public/menopausia.png"
import formacion from "../../public/formacion.jpg"
import taller from "../../public/talleres.jpg"
import Card from "../components/serviceCards.astro"
import "../styles/serviceSection.css"
---

<section class="section">
    <div class="cardDiv">
        <Card
            image={individual}
            alt="Sesiones individuales"
            title="Sesiones individuales"
            description="is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
        />
        <Card
            image={grupo}
            alt="Sesiones grupo"
            title="Sesiones grupo"
            description="is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
        />
        <Card
            image={masaje}
            alt="Sesiones masaje"
            title="Sesiones masaje"
            description="is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
        />
        <Card
            image={menopausia}
            alt="Circulos de menopausia"
            title="Circulos de menopausia"
            description="is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
        />
        <Card
            image={formacion}
            alt="Formación / Workshop"
            title="Formación / Workshop"
            description="is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
        />
        <Card
            image={taller}
            alt="Talleres"
            title="Talleres"
            description="is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
        />
    </div>
  </section>
  